<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" style="color: white!important;">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      RESULTADO
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">Prueba</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nº Dorsal</ion-label>
  </ion-item>
</ion-content>
