<ion-header>
  <ion-toolbar>
    <ion-title>
     RESULTADOS
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [formGroup]="resultadosForm" class="bg-custom">
  <ion-item class="custom">
    <ion-label position="floating">Prueba</ion-label>
    <ionic-selectable
    formControlName="prueba"
    [items]="pruebas"
    itemValueField="id"
    itemTextField="descripcion"
    [canSearch]="true"
    searchPlaceholder="Buscar..."
    (onChange)="selectedPrueba($event)">
      <ng-template ionicSelectableCloseButtonTemplate>
        <ion-icon name="close" class="color-custom-icon"></ion-icon>
      </ng-template>
    </ionic-selectable>
  </ion-item>
  <ion-item class="custom">
    <ion-label position="floating">Nº Dorsal</ion-label>
    <ion-input type="text" formControlName="dorsal"></ion-input>
  </ion-item>
  <ion-button color="dark" expand="full" (click)="buscarResultados()" class="align-button-end">
    COMPROBAR
  </ion-button>
</ion-content>
