<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
     RESULTADOS
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [formGroup]="resultadosForm">
  <ion-item>
    <ion-label position="floating">Prueba</ion-label>
    <ionic-selectable
    formControlName="prueba"
    [items]="pruebas"
    itemValueField="id"
    itemTextField="descripcion"
    [canSearch]="true"
    searchPlaceholder="Buscar..."
    (onChange)="selectedPrueba($event)">
    </ionic-selectable>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nº Dorsal</ion-label>
    <ion-input type="text" formControlName="dorsal"></ion-input>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-button color="primary" expand="block" (click)="buscarResultados()">
    COMPROBAR
  </ion-button>
</ion-footer>
