<ion-header>
    <ion-toolbar>
        <ion-title>PRÓXIMAS CARRERAS</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-custom">
    <ion-item *ngIf="pruebas.length === 0" lines="none">
        <p class="color-custom-icon">No hay próximas pruebas.</p>
    </ion-item>
    <ion-item *ngFor="let prueba of pruebas" class="ion-activatable custom" (click)="accionesAlert(prueba.url, prueba.coordenadas)">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label>
            <h2 class="text-black">{{ prueba.descripcion }}</h2>
            <p class="color-custom-icon">{{ prueba.fecha }}</p>
        </ion-label>
        <ion-icon name="flag" slot="start" class="color-custom-icon ion-no-padding ion-no-margin"></ion-icon>
    </ion-item>
</ion-content>

