<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button style="color: white!important;"></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-no-padding">PRÓXIMAS CARRERAS</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-custom">
    <ion-item *ngFor="let prueba of ejemplos" class="ion-activatable">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label>
            <h2>{{ prueba.descripcion }}</h2>
            <p>{{ prueba.fecha }}</p>
        </ion-label>
        <ion-icon name="flag" slot="start"></ion-icon>
    </ion-item>
</ion-content>

